<div class="container__big-card">
  <div class="big-card__photo">
    <img src="../../../assets/myimages/planeta.jpg" alt="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid amet iste repellat tenetur optio
        autem, culpa
        labore suscipit harum. Nulla inventore porro in, aliquid repellat qui facilis itaque ut similique?</a>
    </p>
  </div>

</div>
