.container__small-card{
  width: 700px;
}
.container__small-card-content{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.small-card__title{
  display: flex;
  align-items: center;
}
.small-card__photo > img{
  width: 200px;
  min-width: 200px;
  min-height: 133px;
  height: 133px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.container__small-card-separator>hr{
  width: 90%;
  margin-bottom: 10px;
  border: 2px solid white;
}
